a:link, a:visited {
color : #6B8E23;
text-decoration : none;
}
a:hover {
color : #7CFC00;
text-decoration : none;
}

textarea {
  width: 99%;
  max-width: 850px;
  max-height: 520px;
}
input, select {
color : #DAA520;
background-color : #101010;
border : 1px solid #363636;
}
input:focus, textarea:focus, select:focus {
color : #78b100;
background-color : #1c2900;
border : 1px solid #385400;
}
body {
color : #999933;
font-size : 13px;
background-color : #000;
font-family : Tahoma;
margin : 0;
padding : 0;
}
form {
font-size : small;
margin : 0;
padding : 0;
}
h3 {
margin : 0;
padding : 0;
padding-bottom : 2px;
}
hr {
margin-top : 2px;
margin-bottom : 2px;
border-top : 1px solid #550000;
border-right-style : none;
border-right-width : 0;
border-bottom-style : none;
border-bottom-width : 0;
border-left-style : none;
border-left-width : 0;
}
p {
margin-top : 6px;
margin-bottom : 6px;
}
ul {
margin : 0;
padding-left : 20px;
}
.bmenu, .phdr, .hdr {
color : #CCCC33;
background-color : #660000;
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 4px;
}
.bmenu a {
color : #0084b5;
border-bottom : 1px dotted #006882;
}
.bmenu a:hover {
color : #25c5ff;
border-bottom : 1px dotted #006882;
}
.clip {
color : #459bb1;
border : 1px solid #3f3f3f;
font-size : x-small;
background-color : #292929;
padding : 4px 4px 8px;
}
.end {
text-align : center;
}
.func {
border-left : 4px solid #550000;
color : #757575;
font-size : x-small;
margin-top : 4px;
margin-left : 2px;
padding-left : 4px;
border-top : 1px dotted #4f4f4f;
}
.topmenu {
color : #75bf00;
background-color : #470000;
margin-top : 5px;
margin-bottom : 5px;
padding : 2px;
}
.gmenu {
color : #75bf00;
background-color : #470000;
margin-top : 5px;
margin-bottom : 5px;
padding : 2px;
}
.gmenu a {
color : #75bf00;
border-bottom : 1px dotted #223200;
}
.gmenu a:hover {
color : #96f400;
border-bottom : 1px dotted #395400;
}
.gray {
color : #586776;
}
.green {
color : #58a400;
}
.header, .footer {
background-image : url(images/header.gif);
color : #a9a9a9;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #550000;
border-bottom : 1px solid #550000;
}
.footer a:link {
color : #a9a9a9;
text-decoration : none;
border-bottom : 1px dotted #3f3f3f;
}
.footer a:hover {
color : #d2d2d2;
text-decoration : none;
border-bottom : 1px dotted #696969;
}
.left {
float : left;
}
.list1, .b {
background-color : #101010;
border : 1px solid #550000;
margin-top : 7px;
margin-bottom : 7px;
}
.list2, .c {
background-color : #101010;
border : 1px solid #550000;
margin-top : 7px;
margin-bottom : 7px;
}
.maintxt {
padding-right : 1px;
padding-left : 1px;
margin: auto; max-width: 850px;
}
.head_line {
margin: auto; max-width: 850px;
}
.meta-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
	background-color : #040404;
}
.top_head {
margin-top : 50px;
}


.menu, .news {
background-color : #101010;
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
}
.phpcode {
color : #00798f;
background-color : #001114;
border : 1px dotted #00272e;
margin-top : 4px;
padding : 0 2px;
}
a.pagenav {
    border: 1px solid rgb(65, 115, 148);
    background-color: rgb(242, 246, 248);
    padding: 0px 3px;
    text-decoration: none;
}
.listing-wrapper .forum-control .pagination {
    float: left;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(246, 246, 246);
    background-image: -moz-linear-gradient(center top , rgb(246, 246, 246) 0%, rgb(238, 238, 238) 100%);
    text-shadow: 1px 1px rgb(255, 255, 255);
    height: 28px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.quote {
border-left : 4px solid #550000;
color : #878787;
font-size : x-small;
padding : 2px 0 2px 4px;
width: 700px;
}
.red, .red a:link, .red a:visited {
color : #d20000;
}
.reply {
border-left : 4px solid #ca0000;
color : #db0000;
padding : 2px 0 2px 4px;
}
.rmenu, .alarm {
color : #bd0000;
background-color : #050000;
background-image : url(images/rmenu.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #550000;
}
.status {
color : #3fa400;
font-size : x-small;
padding-left : 0;
}
.quote_post {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
background: #dffaae;
color: #666;
text-shadow: none;
color: #000;
}
.sub {
font-size : x-small;
margin-top : 4px;
}
.code {
border : 1px solid #550000;
margin-top : 4px;
margin-bottom : 4px;
background-color : #F7FBFA;
padding: 2px 2px 4px;
margin: 2px 4px;
width: 700px;
}
.sub a:link, .sub a:visited {
text-decoration : none;
}
.tmn, .fmenu {
color : #CC3300;
background-color : #020100;
background-image : url(images/tmn.gif);
background-repeat : repeat-x;
background-position : 50% bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border-top : 1px solid #550000;
border-bottom : 1px solid #550000;
}
.sitemap {
font-size: xx-small;
position: relative;
width: 100%;
height: 38px;
z-index: 1;
overflow: auto;
}

.red2 {
color : #bd0000;
}
.green2 {
color : #75bf00;
}
.avatar img {
text-align: center;
max-width:120px;
max-height:120px;
padding: 8px 8px 20px;
margin: 2px 4px;
}
.shout img {
max-width:4000px;
max-height:50px;
}

.newsx {
background-color : #212121;
}

.textx {
    padding: 2px 2px 4px;
    margin: 2px 4px;
}

img,object,embed{
  border:none;
  vertical-align:middle;
  max-width:70%;
  width:auto;}
img{
height:auto
}
@media screen and (max-width: 720px){
img.alignleft, a img.alignleft, 
img.alignright, a img.alignright, 
img.aligncenter, a img.aligncenter {
  float:none;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;}
}

.bbcode_container { 
background-color : #660000;
margin-left : 10px;
margin-right : 10px;
width: 700px;
} 

.bbcode_container div.bbcode_quote { 
margin : 4px;
margin-top : 4px;
margin-bottom : 4px;
width: 700px;
} 

.bbcode_quote div.quote_container { 

} 

.bbcode_container .bbcode_quote_container { 

}

#breadcrumbs-wrap {
color : #CCCC33;
background-color : #660000;
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #990000;
}

.breadcrumbs {
color : #CCCC33;
background-color : #660000;
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #990000;
}
.logo {
background: #000000;
}

#quote_post_1 {
background-color : #666600;
background-repeat : repeat-x;
background-position : 50% top;
padding: 0px 10px;
font-size: 12px;
overflow: hidden;
position: relative;
margin: 0px -1px 5px;
border: 1px solid rgb(255, 255, 255);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
border-radius: 3px 3px 3px 3px;
font-family: inherit;
font-style: inherit;
font-variant: inherit;
font-weight: inherit;
line-height: inherit;
font-size-adjust: inherit;
font-stretch: inherit;
-moz-font-feature-settings: inherit;
-moz-font-language-override: inherit;
vertical-align: baseline;
font: 13px/1.5 Helvetica,Arial,"DejaVu Sans Condensed",sans-serif;
color: rgb(0, 0, 0);
word-wrap: break-word;
width: 35px; 
}

quote_post_2 {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
background: #dffaae;
color: #666;
text-shadow: none;
color: #000;
}

.info {
    padding: 5px 5px 5px;
    margin: 5px 10px;
}

.submenu {
    padding: 2px 2px 2px;
    margin: 2px 2px;
}

.subquote {
    padding: 2px 10px 2px;
    margin: 2px 2px;
}